@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background: #212121;
    font-family: "Poppins", serif;
    font-weight: 400;
    font-style: normal;
}
main {
    height: 100%;
}

/* Estilizar toda a barra de rolagem */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

/* Estilizar o fundo da barra de rolagem */
::-webkit-scrollbar-track {
    background: #212121;
    border-radius: 10px;
}

/* Estilizar o polegar da barra de rolagem (a parte que se move) */
::-webkit-scrollbar-thumb {
    background: #0582CA;
    border-radius: 10px;
    border: 3px solid #212121;
}

/* Alterar o hover no polegar */
::-webkit-scrollbar-thumb:hover {
    background: #00A6FB;
}

/* Alterar quando a barra de rolagem está ativa */
::-webkit-scrollbar-thumb:active {
    background: #003554;
}

#typing-status {
    font-weight: bold;
    color: #e0e0e0;
}

#send-message-btn {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    margin-top: 4px;
    justify-content: center;
    border-radius: 50%;
}

#send-message-btn:active {
    background-color: #003554;
}


h1 {
    text-align: center;
    color: #fff;
    font-weight: 500;
}

.header {
    background-color: #0582CA;
    width: 100%;
    position: fixed;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#img-logo-ini {
    display: flex;
    align-items: center;
    justify-content: center;
}

#img-logo-ini img{
    width: 100px;
}
.header h1 {
    margin: 0;
    padding: 0;
    font-weight: bold;

}

.user-message {
    background-color: #00A6FB;
    color: white;
    margin-left: auto;
    border-radius: 12px 12px 0 12px;
    /* Bordas arredondadas */
    padding: 10px;
    width: 100%;
}

.other-message {
    background-color: #D9D9D9;
    color: black;
    align-self: flex-start;
    margin-right: auto;
    border-radius: 12px 12px 12px 0;
}

#form {
    margin-top: auto;
    background: #0582CA;
    display: flex;
    width: 100%;
    left: 0;
    bottom: 0;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: fixed;
}

#form>div {
    display: flex;
    align-items: center;
}

#form>div>img {
    width: 40px;
    height: auto;
    cursor: pointer;

}

#input {
    border: none;
    padding: 16px;
    width: 70%;
    margin: 0.25rem;
    border-radius: 2rem;
    font-size: 16px;
}

#input:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 166, 251, 0.5);
}

#messages {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 10px;
    padding-top: 110px;
    margin: 0;
    height: 500px;
    scroll-behavior: smooth;
}

#messages>li {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    width: auto;
    word-wrap: break-word;
}

/*Parte de entrada*/
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0582CA;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    gap: 50px;
}

.align-button {

    display: flex;
    align-items: center;
    justify-content: center;
}

.popup>div>img {
    width: 400px;
}

.popup>div>h1 {
    font-size: 3em;
    font-family: "Lilita One", serif;
    font-weight: 400;
    font-style: normal;
}

.popup-content {
    background: #D9D9D9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    animation: fadeIn 0.3s ease;
}

.popup-content p {
    margin: 0 0 15px;
    color: #333;
    text-align: left;
    font-weight: bold;
}

.popup-content input {
    width: 90%;
    padding: 15px;
    border: 1px solid #979797;
    border-radius: 5px;
    font-size: 1rem;
}

.button-logar {
    margin-top: 40px;
    padding: 10px 35px;
    background-color: #003554;
    color: #fff;
    border: none;
    border-radius: 15px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.popup-content button:hover {
    background-color: #3A79B3;
}

/*Fim de entrada*/

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

#vinheta {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0582CA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 0.5s ease-in-out;
}

#vinheta h1 {
    font-size: 3em;
    font-family: "Lilita One", serif;
    font-weight: 400;
    font-style: normal;
}

#vinheta img {
    max-width: 300px;
    /* Tamanho do GIF */
    height: auto;
}
.user-message img, .other-message img {
    max-width: 300px;
    border-radius: 8px;
    margin-top: 5px;
}
.image-popup {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}
.image-popup img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
}
#close-popup {
    position: absolute;
    top: 20px;
    right: 30px;
    color: white;
    font-size: 40px;
    cursor: pointer;
}
#usu-onli {
    color: #fff;
    margin-right: 30px;
}
#usu-onli ul {
    list-style-type: none;
    color: rgb(6, 206, 6);
}

.chat-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}

#chat-container {
    flex: 1;
    transition: all 0.3s ease;
}

#call-container {
    flex: 1;
    background-color: #003554;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transition: all 0.3s ease;
}

#call-container video {
    width: 100%;
    height: auto;
    border-radius: 15px;
    box-shadow: 0 0 20px #00A6FB;
}

.chat-wrapper.on-call #chat-container {
    flex: 0.6;
}

.chat-wrapper.on-call #call-container {
    display: flex;
}


@media (width <=500px) {
    #img-logo-ini h1 {
        display: none;
    }
    #img-logo-ini img {
        width: 120px;
    }
    #usu-onli h2 {
        font-size: 1em;
    }
    #usu-onli ul {
        color: rgb(6, 206, 6);
    }
    .user-message img, .other-message img {
        max-width: auto;  
        height: auto;
        border-radius: 8px; 
    }
    .popup {
        flex-direction: column;
    }
    .button-logar {
        margin-top: 15px;
    }
    .popup>div>img {
        width: 300px;
    }
    .popup>div>h1 {
        font-size: 2em;
        font-weight: bold;
    }

    #input {
        border: none;
        padding: 16px;
        width: 55%;
        margin: 0.25rem;
        border-radius: 2rem;
        font-size: 16px;
    }
    #messages {
        height: 100%;
        margin-bottom: 50px;
    }
    #vinheta img {
        max-width: 500px;
        /* Tamanho do GIF */
        height: auto;
    }
}

